# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Environment / secrets
# =========================
.env

# =========================
# ETL runtime files
# =========================
data/state.json

# =========================
# Logs
# =========================
*.log

# =========================
# Docker volumes / local data
# =========================
pgdata/
esdata/
**/pgdata/
**/esdata/

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
Thumbs.db
.DS_Store
