services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: movies_database
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  elasticsearch:
    image: elasticsearch:7.17.17
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  etl:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: etl
    working_dir: /app
    volumes:
      - .:/app
    depends_on:
      - postgres
      - elasticsearch
    command: sleep infinity

volumes:
  pgdata:
  esdata:
